<footer class="border-t border-whiteout/10 bg-black-void">
  <div class="mx-auto flex max-w-[1150px] flex-col gap-4 px-6 py-12 sm:flex-row sm:items-center sm:justify-between">
    <p class="text-[13px] text-whiteout/50">
      &copy; {new Date().getFullYear()} Yasseen Hilal
    </p>

    <div class="flex gap-6 text-[13px]">
      <a href="mailto:yasseenhilal@utexas.edu" class="text-whiteout/70 underline decoration-whiteout/30 underline-offset-4 hover:text-whiteout">
        Email
      </a>
      <a href="https://linkedin.com/in/yasseenhilal" class="text-whiteout/70 underline decoration-whiteout/30 underline-offset-4 hover:text-whiteout">
        LinkedIn
      </a>
      <a href="https://github.com/YasseenH" class="text-whiteout/70 underline decoration-whiteout/30 underline-offset-4 hover:text-whiteout">
        GitHub
      </a>
    </div>
  </div>
</footer>
